/* ------------ Root ------------ */

    :root{
        --main-color: rgb(151, 0, 245);
    }

/* ------------ Estilos Generales ------------ */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #000;
    color: white;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2.6em;
    color: var(--main-color);
}

a{
    text-decoration: none;
}


.container{
    width: 90%;
    margin: 0 auto;
}

/* ------------ Estilos por Bloque ------------ */

/* Header */

header{
    background-color: var(--main-color);
    padding: 8px 0;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 2px solid white;
    z-index: 1;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo a{
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
}

header nav a {
    color: inherit;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 0.5em; 
}

header nav a:hover{
    color: color-mix(in srgb, var(--main-color) 50%, white )
}

/* Main */


.guia{
    background-color: #111;
    margin-top: 1.5em;
    padding: 2em;
    border-radius: 2em;
    border: 0.3em solid var(--main-color);
}

.guia h3{
    margin: 0;
}

.guia ul{
    list-style: none;
}

.guia li{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.guia p{
    font-size: 1.2em;
}

.guia .li-ratio{
    width: 7.5em;
    text-align: right;
    position: relative;
    top: -0.1em;
}

main .nombre-cancion{
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

main .li-ratio{
    margin-right: 1em;
}

main .link-grupo{
    color: #666;
    margin: 1em 0;
    padding-left: 1em;
}

main .link-grupo p{
    margin: 0;
}

main .link-unidad{
    display: flex;
    margin-bottom: 0.5em;
}

main .link-unidad > *{
    padding-right: 1em;
}

main a{
    color: color-mix(in srgb, var(--main-color) 50%, white );
    
}
main a:hover{
    color: var(--main-color);
}


main ul{
    padding-left: 1em;
}

main .repertorio ul li{
    margin-bottom: 0.25em;
    font-size: 1.2em;
}

main h3{
    scroll-margin-top: 1.5em;
    margin-bottom: 0;
}

main em{
    font-style: normal;
}

/* Footer */

footer{
    margin-top: 20em;
    background-color: var(--main-color);
    padding: 1em;
    border-top: 2px solid white;
}

footer .container{
    text-align: center;
}

footer p, footer a{
    margin: 0;
    color: inherit;
}



